server:
  port: 8080
  servlet:
    context-path: /api

spring:
  application:
    name: aprendia-api
  
  datasource:
    url: jdbc:postgresql://localhost:5432/authdb
    username: postgres
    password: 1234567
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true
  
  security:
    jwt:
      secret: aprendia-secret-key-2024
      expiration: 3600 # 1 hora en segundos

jwt:
  secret: aprendia-secret-key-for-jwt-token-generation-2024
  expiration: 3600

encryption:
  secret: aprendia-encryption-key-2024

logging:
  level:
    com.icheha.aprendia_api: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method